---
layout: default
title: Kernel Panic
---

{% include about/me.html %}
<hr>

<a href="/posts" class="pull-right">Read all blog posts</a>
<h2>Posts</h2>
{% include posts.html limit=10 %}
<hr>


<a href="/memos" class="pull-right">All memos</a>
<h2>Memos</h2>
{% include memos.html limit=5 %}
<hr>

<h3>Read further</h3>
<p>
If you want to check out more of my artwork, you can find it on <a href="https://digitaldeathdisrupt.com">my website</a> and <a href="https://www.instagram.com/digital.death.disrupt/">Instagram</a>.
</p>