<p>
  My name is Francisco Sanabria. You can find me on GitHub as
  <a href="https://github.com/fcosanabria">fcosanabria</a>.
</p>

<p>
  Welcome to my dead simple blog. I write about cloud, Linux, Kubernetes and productivity. I also write about my personal life and hobbies.
</p>

<p>
  You can check my visual artwork projects at <a href="https://digitaldeathdisrupt.com/">digitaldeathdisrupt.com</a>.
</p>

<ul>
  <li>Here is my <a href="https://www.linkedin.com/in/fcosanabria">LinkedIn</a> and my <a href="https://github.com/fcosanabria">GitHub</a>.</li>
  <li>This is my <a href="https://github.com/fcosanabria/homelab">kubernetes homelab</a> and my <a href="https://github.com/fcosanabria/dotfiles">dotfiles</a>.</li>
</ul> 