---
layout: default
---
<div id="posthead">

	<span class="text-muted">
		<i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%d. %m. %Y" }}
		{% if page.updated %}| <i class="fa fa-pencil" aria-hidden="true"></i> {{ page.updated | date: "%d. %m. %Y" }}{% endif %}
		| <i class="fa fa-user" aria-hidden="true"></i> Jakub Kadlčík
		| <i class="fa fa-language" aria-hidden="true"></i> {{ page.lang | upcase }}
	</span>

	<span class="pull-right">
	{% for tag in page.tags %}
		<a class="btn btn-default btn-xs" href="/tag/{{ tag }}">{{ tag }}</a>
	{% endfor %}

	<a href="https://github.com/frostyx/frostyx.github.io/tree/master/{{ page.relative_path }}">
		<i class="fa fa-github" aria-hidden="true"></i>
	</a>
	</span>

</div>

{{ content }}
